faiss-cpu
networkx
tqdm
numpy
sentence-transformers
aiohttp
configparser
future

# Basic modules
gensim
pipmaster
pydantic
python-dotenv

setuptools
tenacity

# LLM packages
tiktoken

# Extra libraries are installed when needed using pipmaster
scipy==1.12.0
nest_asyncio
fastapi
uvicorn
tabulate
httpx
pandas

# Database
sqlalchemy
psycopg2-binary
asyncpg
python-multipart
passlib
python-jose
starlette